name: Review

on:
  pull_request:
    types: [opened, reopened, review_requested]

permissions:
   contents: read

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: PDF
      uses: ./.github/actions/pdf
